$cobalt-blue: #064ea4;
$eerie-black: #1a1a1a;
$french-puce: #451b09;
$crayola: #fcdf69;
$light-salmon: #f99d76;
$chinese-silver: #cacaca;
$dark-gray: #aaaaaa;
$light-gray: #d2d2d2;
$space-cadet:#0E2152;